.nav-margin{
    margin-right: 30px;
}
.font{
    font-size:large;
    color: white;
    cursor: pointer;
}
.sidenav-icon-style{
    font-size: 60px;
    color: white;
    cursor: pointer;
    
}
.menu{
    display: none;
}
.menu-open{
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: white;
    left: 0;
    height: 100%;
    width: 100%;
   font-size: larger;
    color: white;  
   
}

.menu-open nav{
    margin-top: 20px;
}

.menu-open ul{
    list-style: none;
    
}
.menu-open ul li a{
    text-decoration: none;
    color: black;
}
.menu-open ul li{
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 600;
}
a{
    text-decoration: none;
}
 a:hover{
    color: black;
   
}

@media (min-width:769px) and (max-width:900px) {
    .font{
        font-size: small;
    }
}

@media (min-width:901px) and (max-width:1024px){
    .font{
        font-size: medium;
    }
}